
/* Footer styles */
footer {
  background-color: #2e363a;
  color: #fff;
  padding: 70px 0;
  font-family: 'Open Sans', sans-serif;
}

/* Container within the footer */
.container {
  max-width: 1170px;
  margin: 0px 0px 0px 220px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  padding: 0;
}

/* Footer columns - Three columns */
.footer-col {
  width: calc(33.33% - 20px); /* Adjusted width with spacing between columns */
  padding: 0 10px;
  margin-bottom: 30px;
}

/* Center text within footer columns */
.footer-col h4 {
  text-align: left;
}

.footer-col ul li {
  text-align: left; /* Reset text alignment for list items */
}

/* Heading styles */
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
}

/* Horizontal line below headings */
.footer-col h4::before {
  content: '';
  position: absolute;
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

/* List styles */
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.contact li {
  font-size: 16px;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}

/* Social media icons */
.social-links {
  list-style: none;
  padding: 0;
}

.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}


/* Responsive styles */
@media (max-width: 767px) {
  .footer-col {
    width: calc(50% - 20px); /* Two columns on smaller screens */
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%; /* Full width on the smallest screens */
  }
}
